header {
  background-image: linear-gradient(270deg, rgb(43, 192, 236), rgb(27, 129, 215));
  color: white;
  height: 30px;
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: 400;
  align-items: center;
}

