<nav>
  <div class="brand">
      <span class="fa-stack fa-2x fa-pull-left ">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-refresh fa-stack-1x"></i>
      </span>
      <div class="title">
        Environment Refresh
      </div>
  </div>
  <ul>
      <li>
          <h3 class="welcome-message">Welcome {{cookieValue}}</h3>
      </li>
    <li>
      <a [routerLinkActive]="['active']" [routerLink]="['/dashboard/requests']">
        <i class="fa fa-th-list"></i> Requests</a>
    </li>
    <li>
      <a [routerLinkActive]="['active']" [routerLink]="['/dashboard/config']">
        <i class="fa fa-cog"></i> Configurations</a>
    </li>
    <li>
        <a [routerLinkActive]="['active']" [routerLink]="['/login']">
          <i class="fa fa-pinterest"></i> Logout</a>
      </li>    
  </ul>
</nav>
