<nav>
  <div class="brand">
      <span class="fa-stack fa-2x fa-pull-left ">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-refresh fa-stack-1x"></i>
      </span>
      <div class="title">
        Environment Refresh
      </div>
  </div>
  <ul>
    <li>
      <a [routerLinkActive]="['active']" [routerLink]="['/requests']">
        <i class="fa fa-th-list"></i> Requests</a>
    </li>
    <li>
      <a [routerLinkActive]="['active']" [routerLink]="['/config']">
        <i class="fa fa-cog"></i> Configurations</a>
    </li>
  </ul>
</nav>
