/* You can add global styles to this file, and also import other style files */

html {
  touch-action: manipulation;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: inherit;
}

body {
  min-width: 320px;
  font: normal 14px "Fira Sans", "Helvetica Neue", sans-serif;
  background: white;
  padding: 0;
  margin: 0;
}

.content {
  padding: 20px;
}

.hidden {
  display: none !important;
}

.app-loading {
  .logo {
    width: 192px;
    height: 192px;
    // this way asset gets processed by webpack
    background: url(./assets/images/logos/logo.png) center center no-repeat;
  }
}

