<div fxLayout="column">
  <div fxFlex="60px" class="topbar">
    <h1>Requests</h1>
    <button pButton icon="fa-check" class="topbar-button" iconPos="left" type="button" label="New Request" [routerLink]="['newrequest']"></button>
  </div>

  <div fxFlex="grow" class="content-section">
    <p-dataTable [value]="requests">
      <p-column field="environment" header="Environment"></p-column>
      <p-column field="status" header="Status"></p-column>
      <p-column field="requestedBy" header="Requested By"></p-column>
      <p-column field="requestedOn" header="Requested On"></p-column>
      <p-column field="scheduledOn" header="Scheduled On"></p-column>
      <p-column field="databases" header="Databases"></p-column>
    </p-dataTable>
  </div>
</div>
