<div fxLayout="column">
  <div fxFlex="60px" class="topbar">
    <h1>Requests</h1>
    <button pButton icon="fa-check" class="topbar-button" iconPos="left" type="button" label="New Request" [routerLink]="['newrequest']"></button>
  </div>

  <div fxFlex="grow" class="content-section">
    <p-dataTable [value]="requests">
      <p-column field="environment" header="Environment"></p-column>
      <p-column field="status" header="Status"></p-column>
      <p-column field="requestor" header="Requested By"></p-column>
      <p-column field="scheduleDate" header="Scheduled On">
        <ng-template let-request="rowData" pTemplate="body">
            <span>{{request.scheduleDate | date:"MM/dd/yy hh:mm a"}}</span>
        </ng-template>
      </p-column>
      <p-column field="completionDate" header="Completed On">
        <ng-template let-request="rowData" pTemplate="body">
            <span>{{request.completionDate | date:"MM/dd/yy hh:mm a"}}</span>
        </ng-template>
      </p-column>
      <p-column field="databases" header="Databases">
        <ng-template let-request="rowData" pTemplate="body">
            <span>{{request.databases | databaseNamesPipe }}</span>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</div>
