<div class="layout-wrapper">
    <div id="layout-sidebar" [ngClass]="{'active':mobileMenuActive}">
        <span class="layout-logo">
			Environment Refresh
        </span>

        <a id="requests-menu" #requestsmenutitle [routerLink]="['/']" [class.active-menuitem]="requestsmenutitle.id == activeMenuId" (click)="activeMenuId = requestsmenutitle.id">
            <span>Requests</span>
        </a>

        <a id="config-menu" #configmenutitle [routerLink]="['/config']" [class.active-menuitem]="configmenutitle.id == activeMenuId" (click)="activeMenuId = configmenutitle.id">
            <span>Config</span>
        </a>

    </div>

    <div id="layout-content">
        <router-outlet></router-outlet>
    </div>
</div>

