<top-menu>
  <div class="left-group">
    <h3>New Request</h3>
  </div>
  <div class="right-group">
    <button type="button" [disabled]="submitRequestFormGroup.invalid" pButton icon="fa-floppy-o" label="Submit Request" (click)="submitRequest()"></button>
  </div>
</top-menu>

<div class="content">
  <div class="content-section">
    <p-panel header="Create New Request">
      <form [formGroup]="submitRequestFormGroup" novalidate>
        <ul class="form-controls">
          <li>
            <label for="environment">Environment</label>
            <select id="environment" formControlName="environment">
              <option *ngFor="let environment of environments | async" 
                      [value]="environment.environment">{{environment.environment}}</option>
            </select>
          </li>
          <li>
            <label for="systems">Systems</label>
            <div *ngFor="let system of systems">
              <p-checkbox (onChange)="addRemoveSystem(system)"></p-checkbox>{{system.systemName}}&nbsp;
            </div>
          </li>
          <li>
            <label for="requestor">RequestedBy</label>
            <select id="requestor" formControlName="requestor">
              <option *ngFor="let requestor of requestors | async" 
                      [value]="requestor">{{requestor}}</option>
            </select>
          </li>
          <li>
            <label for="scheduledBy">Scheduled By</label>
            <input class="ui-inputtext" type="text" size="30" pInputText [value]="userId" readonly>
          </li>
        </ul>
      </form>
    </p-panel>
  </div>
</div>