<top-menu>
  <div class="left-group">
    <h3>All of the  Requests</h3>
  </div>
  <div class="right-group">
    <button pButton icon="fa-plus" [routerLink]="['/requests/_new']" label="New Request"></button>
  </div>
</top-menu>
<div class="content">
  <p-dataTable [value]="requests" [rows]="10" [paginator]="true" dataKey="beltPartNumber">
    <p-column field="environment" header="Environment"></p-column>
    <p-column field="status" header="Status">
      <ng-template let-request="rowData" pTemplate="body">
          <a [routerLink]="['/requests', request.id]">{{request.status}}</a>
      </ng-template>
    </p-column>
    <p-column field="requestor" header="Requested By"></p-column>
    <p-column field="scheduleDate" header="Scheduled On"></p-column>
    <p-column field="systems" header="Systems">
      <ng-template let-request="rowData" pTemplate="body">
        <span>{{request.systems | systemNames}}</span>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>
