<div fxLayout="column">
  <div fxFlex="60px" class="topbar">
    <h1>Config</h1>
  </div>

  <div fxFlex="grow" class="content-section">
    <p-dataTable [value]="environments" [loading]="loading">
      <p-column field="environment" header="Environment">
        <ng-template let-environment="rowData" pTemplate="body">
          <a [routerLink]="['/config', environment.environment]">{{environment.environment}}</a>
        </ng-template>
      </p-column>
      <p-column field="description" header="Description"></p-column>
    </p-dataTable>
  </div>
</div>
