@charset "UTF-8";

body {
    margin: 0px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #20272a;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #404C51;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
}

.topbar {
    background-color: #1976D2;
    color: white;
    box-sizing: border-box;
    display: block;
    border-bottom: solid 1px #dde3e6;
    padding: 15px;
    overflow: hidden;
}

.topbar > h1 {
    float: left;
    font-size: 18pt;
    margin-top: 0px;
}

.topbar-button {
    float: right;
    margin-left: 5px;
}

.content-section {
    padding: 30px;
    overflow: hidden;
    background-color: #f5f7f8;
}

.content-section:first-of-type > div > span {
    line-height: 1.5em;
}

.content-section h2 {
    margin-top: 0;
}

.form-box {
    padding: 10px;
}

.form-box label {
    font-weight: bold;
}
